@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --green: #2ecc71;
  --red: #d03d2d;
  --light-bg: #f7f7f7;
  --light-btn: #fff;
  --btn-hover-light: rgb(227, 227, 227);
  --dark-bg: #1b1b1b;
  --dark-btn: #222222;
  --btn-hover-dark: #303030;
  --purple: #7c61ff;
  --purple-hvr: #9580ff;
  --turquoise: #19a2c1;
  --light-grey: #bbb;
  --dark-grey: rgb(52, 52, 52);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  padding-bottom: 10px;
  margin: 0 0 10px;
}

.light h3 {
  border-bottom: 1px solid var(--light-grey);
}

.dark h3 {
  border-bottom: 1px solid var(--dark-grey);
}

h4 {
  margin: 5px 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.back-btn {
  width: 75vw;
  max-width: 800px;
}

.dark .back-btn {
  color: var(--light-bg);
}

.light .back-btn {
  color: var(--dark-bg);
}

.light {
  color: var(--dark-bg);
  background-color: var(--light-bg);
}

.dark {
  color: var(--light-bg);
  background-color: var(--dark-bg);
}

/* Containers */
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  max-width: 800px;
  margin-bottom: 10px;
}

.exp-tracker-container {
  display: flex;
  width: 75vw;
  max-width: 800px;
  justify-content: space-between;
}

.container {
  width: 350px;
}

.box-container {
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.box-container.light {
  background-color: var(--light-btn);
}

.box-container.dark {
  background-color: var(--dark-btn);
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-header p {
  margin: 0;
}

.category-row {
  margin-left: 10px;
  margin-right: 26px;
}

.category-row p {
  margin: 10px 0;
}

.light .category-row {
  border-bottom: 1px solid var(--light-grey);
}

.dark .category-row {
  border-bottom: 1px solid var(--dark-grey);
}

/* Toggle switch */
label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.toggle-container i {
  font-size: 25px;
}

.toggle-container {
  display: inline-flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-grey);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--light-btn);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--turquoise);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-checkbox {
  padding: 10px;
}

/* Income Expenses Box */
.month {
  text-align: center;
}

.inc-exp > div {
  flex: 1;
  text-align: center;
}

.inc-exp > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.plus {
  color: var(--green);
}

.minus {
  color: var(--red);
}

/* Today's Expenses Box */

.fa-calendar-day {
  font-size: 55px;
}

/* View Summary Buttons */
.button {
  padding: 3px 30px;
  font-size: 1.1rem;
}

.button.light:hover {
  background-color: var(--btn-hover-light);
  cursor: pointer;
}

.button.dark:hover {
  background-color: var(--btn-hover-dark);
  cursor: pointer;
}

.btn-icon {
  font-size: 30px;
}

/* Add Transaction Form */
.btn {
  cursor: pointer;
  background-color: var(--purple);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 20px 0 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--purple-hvr);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

form > p {
  margin-top: 0;
  text-align: center;
  color: var(--light-grey);
  transition: 0.5s;
}

form > p:hover {
  cursor: pointer;
}

/* Date Border */
.date-border {
  display: flex;
  justify-content: space-between;
}

.date-border.light {
  border-bottom: 1px solid var(--light-grey);
}

.date-border.dark {
  border-bottom: 1px solid var(--dark-grey);
}

.date-border p {
  margin: 10px 0 5px;
}

/* Transaction List */
.list,
.categories-list,
.category-rows-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

ul.list {
  margin-top: 0px;
}

.list li {
  box-shadow: var(--box-shadow);
  position: relative;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
}

.categories-list li,
.category-rows-list li {
  box-shadow: var(--box-shadow);
  position: relative;
  padding: 3px 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-transform: capitalize;
}

.category-rows-list li {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.category-right {
  display: flex;
  align-items: center;
}

.category-right:hover {
  cursor: pointer;
}

.category-right p {
  margin-right: 10px;
}

li.plus {
  border-right: 8px solid var(--green);
}

li.minus {
  border-right: 8px solid var(--red);
}

li.light {
  background-color: var(--light-btn);
  color: var(--dark-bg);
}

li.dark {
  background-color: var(--dark-btn);
  color: var(--light-bg);
}

.transaction-title {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.category {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: gray;
}

.delete-btn {
  cursor: pointer;
  background-color: var(--red);
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}

/* Income Expense Summary */
.month-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  font-size: 20px;
  margin: 20px 0 40px;
}

.month-picker > i:hover {
  cursor: pointer;
}

.option-picker {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}

.option-picker div {
  flex: 1;
  text-align: center;
  padding: 5px 0;
}

.option-picker div:hover {
  cursor: pointer;
}

.option-picked {
  border-bottom: 3px solid var(--light-grey);
}
